<div class="container-fluid">
  <div class="text-center">
    <% if @photos.present? %>
      <h3><%= "Search results for: #{params[:q]}" %></h3>
      <p class="lead">You can go to the source by clicking an image</p>
    <% else %>
      <h3><%= "Sorry no results found for #{params[:q]}" %></h3>
    <% end %>

    <%= link_to '< Back to Search', :back, class: 'btn btn-inverse' %>

    <% if @photos.present? %>
      <div class="row">
        <div class="col-sm">
          <% @photos.each do |photo| %>
            <%= link_to flickr_photo_url(photo), target: '_blank' do %>
              <%= image_tag photo_url(photo), class: 'img-thumbnail', alt: flickr_photo_url(photo) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


