<div class="jumbotron">
  <h1 class="display-4">Search on Flickr</h1>
  <p class="lead">Type some words to search some images on Flickr</p>
  <%= form_tag search_path, method: :get do %>
    <div class="form-group">
      <%= text_field_tag :q, nil, class: 'form-control', required: true %>
    </div>

    <p class="lead">
      <%= submit_tag 'Search', class: 'btn btn-primary btn-lg', role: '' %>
    </p>
  <% end  %>
</div>
